mat-card {
  &.code-editor {
    height: calc(100vh - 64px - 64px);
  }

  mat-card-content {
    height: calc(100% - 16px - 16px);

    ngx-monaco-editor {
      height: 100%;
    }

    .form-value-container, .form-diff-container, .form-translations-container {
      border: 1px solid darken(white, 8%);
      padding: 5px;
      margin: 15px 0;
      border-radius: 5px;
      background-color: #373b3d;
      color: #e4e4e4;
      line-height: 1.3em;

      pre {
        font-family: 'Roboto Mono', monospace;
        margin: 0;
      }
    }
  }

  mat-card-title.schema-card {
    display: flex;
    justify-content: space-between;
  }

  mat-card-subtitle.errorMessage {
    background-color: #e22822;
    color: white;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
  }
  .mat-tab-group-dynamic-height .mat-tab-body-content{
    padding:10px !important;
  }
}

.pixel-perfect-mode {
  /deep/ {
    .container-form-wrapper {
      width:920px;
    }
  }
}

